**/target/
*.iml
.classpath
.idea
.project
.settings
abandoned/
bin/
generated-srcs/
out/
.DS_Store
kqt.log
violations
**/lvv-frontend-python-client/src/lvv_frontend_python_client
lvv-frontend-canary/secret

bldenv/
input_ocibuild/
output_ocibuild_compilesource/
output_ocibuild_dockerize_api/
output_ocibuild_dockerize_worker/

**/.terraform
**/*.tfstate
**/*.tfstate.backup
/jet_components
/exchange_components
/node_modules
/bower_components
/dist
/web
/staged-themes
/themes
/jaftmp@

/hybrid/node_modules
/hybrid/platforms
/hybrid/www/*

!hybrid/plugins
hybrid/plugins/*
!hybrid/plugins/fetch.json

.DS_Store
Thumbs.db
