/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

.demo-oracle-icon {
    content:url("images/oracle_logo.svg");
    display:inline;
    width:137px;
    height:18px
}

.header-center {
    text-align: center;
}

/* .rack-panel {
    min-width: 50%;
} */

.home-container {
    text-align: center;
}

#projectInfo {
    list-style-type: none;
}